.pagina {
  width: 190mm;
  max-width: 190mm;
  height: 277mm;
  max-height: 277mm;
  margin: 5mm 0;
}

.fundo {
  background-color: aliceblue;
}

.fundo2 {
  background-color: cornflowerblue;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  .pagina {
    margin: 0;
  }
  .acoes {
    display: none;
  }
}
